/* ================= 1. СБРОС СТИЛЕЙ И БАЗОВЫЕ НАСТРОЙКИ ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* Плавная прокрутка по якорным ссылкам # */
}
/*Задолбалась, то шрифт не меняется, то полоса скролла*/
html,
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
  overflow-x: hidden; /* Добавила дважды? */
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #a7a5ac;
  color: #202027;
  overflow-x: hidden; /* Защита от появления горизонтальной полосы прокрутки */
}
.wrapper {
  background-color: #000000;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
/* ================= 2. ГЛАВНЫЙ ЭКРАН (HERO / WELCOME) ================= */
.hero {
  width: 100%;
}

.welcome-card {
  position: relative; /* Обязательно! Якорь для абсолютной картинки и звезд */
  display: flex;
  height: 800px;
  background-color: #e1ff8f;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.welcome-card__content {
  max-width: 770px;
  width: 100%;
  /*height: 358px;*/
  margin-top: 196px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.welcome-card__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  /*color: #202027;*/
}
.welcome-card__text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 24px;
  max-width: 720px;
}
.welcome-card__btn {
  width: 247px;
  height: 66px;
  background-color: #202027;
  border-radius: 60px;
  border: 1px solid #202027;
  padding: 16px 65px;
  font-size: 24px;
  line-height: 124%;
  font-weight: 600;
  color: wheat;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 48px;
}
.welcome-card__btn:hover {
  background-color: white;
  border-color: black;
  color: #000;
}

.welcome-card__image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: 1;
  pointer-events: none;
}
.welcome-card__mobil {
  display: none;
}
.welcome-card__stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  z-index: 2;
  pointer-events: none;
}
.welcome-card__star {
  position: absolute;
  object-fit: contain;
  height: auto;
}
/*Индивидуальное расположение звезд по макету*/
.welcome-card__star_5 {
  top: 538px;
  right: 450px;
  opacity: 1;
  border-width: 1px;
}
.welcome-card__star_3 {
  top: 69px;
  left: 156px;
  opacity: 1;
  border-width: 1px;
}
.welcome-card__star_4 {
  top: 568px;
  right: 344px;

  opacity: 1;
  border-width: 1px;
}

.welcome-card__star_2 {
  top: 94px;
  left: 63px;
  opacity: 1;
  border-width: 1px;
}

/* ================= 3. АНИМИРОВАННАЯ БЕГУЩАЯ СТРОКА ================= */

.marquee {
  width: 100vw;
  height: 87px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  background-color: #bcec30;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 40px;
  z-index: 3;
}
.marquee__inner {
  display: flex;
  width: max-content;
  animation: scroll-marquee 20s linear infinite;
}

.marquee__line {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 10px;
}

.marquee__line span {
  font-size: 30px;
  font-weight: 700;
  color: #202027;
  text-transform: uppercase;
  white-space: nowrap;
}

.marquee__star {
  width: 36px;
  height: 36px;
  object-fit: contain;
}
@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ================= 4. ГЛАВНЫЙ КОНТЕНТ (MAIN) ================= */
.content {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 80px 20px;*/
  display: flex;
  flex-direction: column;
  /* gap: 100px; /* Расстояние между секциями "Об играх" и "Мини-игры" */
  background-color: #000000;
}
.games-about__star-bg {
  position: absolute;
  z-index: 2;
  margin-top: 78px;
  margin-left: 800px;
  transform: rotate(7deg);
}

/* Стили заголовков и подзаголовков секций */
.games-about__title,
.games-list__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: white;
  margin-top: 95px;
}

.games-about__subtitle {
  font-size: 24px;
  color: #cccccc;
  max-width: 788px;
  line-height: 32px;
  margin-top: 24px;
  font-weight: 400;
}

/* ================= 5. СНАТСКИ ДЛЯ КАРТОЧЕК (GRID) ================= */
.games-about__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 квадратные карточки в ряд */
  gap: 32px;
  margin-top: 72px;
  align-items: start;
  overflow: hidden;
}

.games-list__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-top: 72px;
}

/* Общие обертки-ссылки для карточек */
.games-about__card-link,
.games-list__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* ================= 6. УНИВЕРСАЛЬНЫЙ БЛОК КАРТОЧКИ (game-card) ================= */
.game-card {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column; /* По умолчанию карточка вертикальная (для первой секции) */
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  border-radius: 32px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.game-card_mini {
  height: 473px;
}
.game-card_medium {
  height: 512px;
}
.game-card_max {
  height: 551px;
}

.game-card__image {
  width: 100%;
  height: 314px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.game-card__number {
  font-size: 16px;
  line-height: 110%;
  font-weight: 500;
  color: #000000;
  background-color: #f7f7f7; /* Серая овальная плашка */
  padding: 9px 16px;
  border-radius: 50px;
  margin-top: 32px;
}

.game-card__title {
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  color: #000000;
  margin-top: 16px;
}

/* Эффект наведения (Hover) на маленькие карточки */
.games-about__card-link:hover .game-card {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(138, 43, 226, 0.4);
  /*transition: transform 0.3s ease, box-shadow 0.3 ease;*/
}

/* ================= 7. ПЕРЕСТРОЕНИЕ КАРТОЧКИ ДЛЯ ВТОРОЙ СЕКЦИИ ================= */

/* Базовое состояние для ВСЕХ карточек */
.games-list__card-link .game-card {
  display: flex;
  flex-direction: row-reverse; /* Картинка справа, текст слева */
  min-height: 500px;
  border-radius: 32px;
  /*gap: 48px;
   margin-left: -2px;*/
}

/*Состояние только для ЧЕТНЫХ ссылок-карточек */
.games-list__card-link:nth-child(even) .game-card {
  flex-direction: row; /* Картинка слева, текст справа */
}

/* Настройки элементов внутри большой карточки */
.games-list .game-card__image {
  /*width: 50%;*/
  max-width: 600px;
  height: auto;
  margin-right: -6px;
  margin-left: -6px;
}

.games-list .game-card__info {
  width: 50%;
  padding-left: 48px;
  padding-right: 48px;
  margin-top: 48px;
  justify-content: flex-start;
}

.games-list .game-card__title {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 24px;
  margin-top: 0;
}

/* Описание игры (есть только во второй секции) */
.game-card__text {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 36px;
  max-width: 500px;
}

/* Овальная кнопка "Играть!" */
.game-card__btn {
  display: inline-block;
  padding: 16px 75px;
  background-color: #202027;
  color: #ffffff;
  font-size: 24px;
  line-height: 142%;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
@media (hover: hover) {
  .game-card__btn:hover {
    background-color: rgb(248, 247, 244);
    color: black;
    outline: 1px solid black;
  }
}

/* ================= 8. ПОДВАЛ САЙТА (FOOTER) ================= */
.footer {
  width: 100%;
  background-color: #bded35;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 144px auto 0 auto;

  .footer__text {
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
}
.star-decor {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  right: 0;
  left: 0;
}
.star-decor__left-mini {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 31.339238597680133;
  height: 31.339238597680133;
  top: 1570px;
  left: 25px;
  border-width: 1px;
  transform: rotate(-5.45deg);
  opacity: 1;
}
.star-decor__left-big {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 54.59828476423661;
  height: 54.59828476423661;
  top: 1622px;
  left: 40px;
  border-width: 1px;
  transform: rotate(-5.45deg);
  opacity: 1;
}
.star-decor__right-mini {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 35.14553881609929;
  height: 35.14553881609929;
  top: 2363px;
  right: 124px;
  border-width: 1px;
  transform: rotate(-7.08deg);
  opacity: 1;
}
.star-decor__right-big {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 68.86170081657656;
  height: 68.86170081657656;
  top: 2396px;
  right: 44px;
  border-width: 1px;
  transform: rotate(-5.45deg);
  opacity: 1;
}
.star-decor__bottom-mini {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 41;
  height: 41;
  top: 5684px;
  right: 150px;
  border-width: 1px;
  opacity: 1;
}
.star-decor__bottom-big {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  width: 69;
  height: 69;
  top: 5636px;
  right: 50px;
  border-width: 1px;
  opacity: 1;
}
@media (min-width: 767px) {
  .games-about__container .game-card_max {
    margin-top: -39px;
  }

  .welcome-card__mob-btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .games-about {
    display: none !important;
  }

  /* 2. Карточка приветствия — увеличиваем внутреннюю высоту снизу */
  .hero {
    max-height: 700px;
  }
  header.hero .welcome-card {
    height: auto;
    min-height: 0;
    padding-top: 147px;
    /*padding-left: 16px;
    padding-right: 16px;*/

    /* Увеличиваем нижний отступ до 182px. <Бегущая строка привязана к самому низу, 
       этот отступ создаст нужное пространство под кнопкой для звёзд и не даст строке налезть на текст */
    padding-bottom: 182px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  /* 3. Текстовый блок  */
  .welcome-card__content {
    max-width: 300px;
    width: 100%;
    margin-top: 0;
    align-items: center;
    text-align: center;
  }

  /* 4. Заголовок */
  .welcome-card__title {
    font-size: 40px;
    line-height: 100%;
    /*margin-bottom: 24px;*/
  }

  /* 5. Текст описания */
  .welcome-card__text {
    font-size: 16px;
    line-height: 100%;
    max-width: 296px;
    width: 100%;
    text-align: center;
  }

  /* 7. БЕГУЩАЯ СТРОКА */
  .hero__marquee {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0; /* Сбрасываем лишний мобильный маржин */
  }
  .marquee__line {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .hero__marquee span {
    font-size: 16px;
    line-height: 110%;
    font-weight: 700;
  }

  .marquee__star {
    height: 18px;
    width: 18px;
  }

  /* 8. Маленькие звёздочки */
  .welcome-card__stars {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .welcome-card__star {
    position: absolute;
    /* right: 0;
    left: 0;*/
    bottom: auto;
  }
  .welcome-card__mobil {
    display: block;
    position: absolute;
    top: 0;
    /* left: auto;*/
    right: 0;
    width: 165px;
    height: auto;
    z-index: 0;
    pointer-events: none;
  }

  /* Расставляем звёзды  */
  .welcome-card__star_2 {
    width: 18px;
    height: 18px;
    top: 530px;
    left: auto;
    right: 70px;
    opacity: 1;
    border-width: 1px;
  }
  .welcome-card__star_3 {
    width: 21px;
    height: 21px;
    top: 64px;
    left: 92px;
  }

  .welcome-card__star_5 {
    width: 35px;
    height: 35px;
    top: 100px;
    left: 40px;
  }
  .welcome-card__star_4 {
    width: 39px;
    height: 41px;
    top: 550px;
    /*left: 350px;*/
    right: 30px;
  }

  /* Скрываю большую контурную звезду */
  .welcome-card__image {
    display: none;
  }

  .games-list__title {
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    margin-top: 48px;
  }
  .games-list .game-card__title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .games-list__container {
    margin-top: 48px;
    gap: 24px;
  }

  .games-list .game-card__info {
    width: auto;
    padding-left: 29px;
    padding-right: 29px;
    margin-top: 29px;
  }
  .games-list__card-link .game-card {
    flex-direction: column;
    height: auto;
    border-radius: 28px;
  }
  .game-card__text {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 32px;
  }
  .games-list__card-link:nth-child(even) .game-card {
    flex-direction: column;
  }
  .games-list .game-card__image {
    height: 284px;
    margin-left: 0;
    margin-right: 0;
  }
  .game-card__btn {
    display: flex;
    height: 55px;
    font-size: 16px;
    padding: 16px 26px;
    width: 100%;
    max-width: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }
  .footer {
    margin: 10px auto 0 auto;
    height: 100px;
  }
  .footer__text {
    font-size: 16px !important;
  }
  .star-decor {
    display: none;
  }
  .welcome-card__btn {
    display: none;
  }

  /* 6. Кнопка «Поехали!» */
  .welcome-card__mob-btn {
    width: 285px;
    height: 55px;
    /* padding: 16px 28px;*/
    font-size: 16px;
    line-height: 142%;
    font-weight: 600;
    border-radius: 60px;
    margin-top: 52px;
    background-color: #202027;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}
